.App {
  background: radial-gradient(
    circle at 50.4% 50.5%,
    rgb(206, 18, 18) 0%,
    rgb(122, 21, 21) 90%
  );
}

.App-header {
  padding: 30px 0;
}

.App-header h1 {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

footer {
  margin-top: 30px;
}
footer p {
  font-size: 12px;
  color: #fff;
  margin-bottom: 0px;
  padding-bottom: 20px;
}
