.Meaning .definition {
  margin-left: 20px;
  margin-top: 0px;
}

.Meaning em {
  display: block;
  margin-left: 30px;
  margin-top: 10px;
  color: #666;
}

.Meaning h5 {
  font-size: 25px;
  margin-bottom: 20px;
}
