.Phonetics h4 {
  display: inline;
}

.Phonetics h4 .phonetic-text {
  margin-right: 20px;
  margin-top: 20px;
  opacity: 0.8;
  font-size: 18px !important;
}

.Phonetics .phonetic-audio {
  margin-top: 10px;
  max-height: 20px;
}
